/* Small Devices */
@media only screen and (max-width: 767px) {
    
    
}

/* Small Devices And Tablets */
@media only screen and (max-width: 768px) {
    .banner .mercury-image{
        width: 40%;
        height: 300px;
       
       
    }
   
}

/* Medius Devices , Desktop */
@media only screen and (min-width: 992px) {
    
    .mercury-image {
        width: 50%;
        height: 300px;
    
       
    }
    
}

/* Large Devices, Wide Screen */
@media only screen and (min-width: 1200px) {
    
    
}
